.waveform{

    animation:waveFloat 8s ease-in-out infinite;

}

@keyframes waveFloat{

    0%{

        transform:translateY(0px);
        opacity:.18;

    }

    50%{

        transform:translateY(-6px);
        opacity:.28;

    }

    100%{

        transform:translateY(0px);
        opacity:.18;

    }

}